  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body class="fixed-nav sticky-footer navbar-clr" id="page-top"  >
<!-- Navigation-->
<app-side-nav></app-side-nav>
<div class="content-wrapper " style="background-color: #e9ecef;">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/admindashboard">Dashboard</a>
      <!--</li>-->
      <!--<li class="breadcrumb-item active">My Dashboard</li>-->
    </ol>
    <!-- Icon Cards-->
 <app-cards></app-cards>

<app-table-list></app-table-list>

<br><br>



    <!-- Example DataTables Card-->

  </div>
  <!-- /.container-fluid-->

  <!-- /.content-wrapper-->
  <app-footer></app-footer>

   <!--Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>

</div>
</body>
