
<div class="row " style="margin-top: 80px">
  <div class="container">
    <h1>Reservations</h1>
  </div>
  <br><br> <br><br>
  <div *ngFor="let reservation of reservationservice.reservations|paginate:{itemsPerPage:6,currentPage:P}" class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats" style="background-color:#B8D5B8">
      <div class="card-header card-header-info card-header-icon">
        <div class="col-lg-9">
          <div class="card-icon">
            <h1>{{reservation.lab}}</h1>
          </div>
      </div>
        <p class="card-category "> </p>
        <h5 class="card-title">{{reservation.date}}
          <small></small>
        </h5>
      </div>
      <div class="card-footer">
        <div class="stats">
          <p style="color: black">Time :{{reservation.from}} - {{reservation.to}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
<br>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <pagination-controls (pageChange)="P=$event" ></pagination-controls>
          </div>
        </div>
  </div>
</div>
