<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="fa fa-twitter"></i>
        </div>
        <p class="card-category">Confirmed</p>
        <h3 class="card-title">{{reservationService.cCount}}
        </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-danger card-header-icon">
        <div class="card-icon">
          <i class="fa fa-twitter"></i>
        </div>
        <p class="card-category">Removed</p>
        <h3 class="card-title">{{reservationService.rCount}}</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon">
          <i class="fa fa-twitter"></i>
        </div>
        <p class="card-category">Not Confirmed</p>
        <h3 class="card-title">{{reservationService.uCount}}</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons"></i>
        </div>
      </div>
    </div>
  </div>
  <div  class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="fa fa-twitter"></i>
        </div>
        <p class="card-category">Users</p>
        <h3 class="card-title">{{userService.userCount}}</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons"></i>
        </div>
      </div>
    </div>
  </div>
</div>
